/* 
    Document   : admin-style
    Created    : 20.01.2013, 20:03
    Edited     : 15.02.2014, 19:26
    Author     : cordobo.com
    Description: Admin Backend Stylesheet for GreenPark 2, loaded via functions.php
*/

#greenpark2_admin_styles {

}

#greenpark2_admin_styles div.settings-liquid-left {
    clear: left;
    float: left;
    margin-right: -325px;
    width: 100%;
}

#greenpark2_admin_styles div.settings-liquid-right {
    clear: right;
    float: right;
    width: 300px;
}

#greenpark2_admin_styles div.settings-left {
    margin-left: 5px;
    margin-right: 325px;
}

#greenpark2_admin_styles div.settings-right {
    margin: 0 auto;
    width: 285px;
}

#greenpark2_admin_styles p.description {
    margin: 1em 10px 12px;
}

#greenpark2_admin_styles ul.children {
    margin: 0 0 0 18px;
}

#greenpark2_admin_styles ul.children li {
    margin: 0 0 2px;
}